$green100: #d7ffc3;
$green200: #5bbc2e;
$green300: #409d16;
$white: #fff;
$grey100: #f5f5f5;
$grey200: #f9f9f9;
$grey300: #eeedf3;
$grey400: #b2b2b2;
$grey500: #8d8d8d;
$grey600: #767575;
$grey700: #4b4b4b;
$grey800: #262626;
$grey900: #242424;
$grey1000: #141414;
$black: #000;
$blue100: #2ca7e0;
$yellow100: #dac00e;
$purple100: #c42fc9;
