@import './colors';
@import url('https://fonts.googleapis.com/css?family=Raleway:300,400,500,600,700,800&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  font-family: 'Raleway', sans-serif;
}

.wrapper {
  width: 120rem;
  margin: 0 auto;
  padding: 0 1.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
}

.header {
  display: flex;
  color: $white;
  background: $green;
  text-transform: uppercase;
  height: 7rem;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  @media (min-width: 1024px) {
    height: 7rem;
  }

  &__logo {
    margin-right: 5px;
  }

  &__title {
    font-weight: 800;
    font-size: 2.6rem;
  }

  &__subtitle {
    font-weight: 300;
    font-size: 1.4rem;
  }
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.menu {
  display: none;
  justify-content: space-evenly;
  align-items: center;
  list-style: none;
  font-size: 1.3rem;
  font-weight: 600;
  text-transform: uppercase;
  flex-direction: column;

  height: calc(100% - 70px);
  position: fixed;
  top: 70px;
  left: 0;
  right: 0;
  background: #5bbc2e;

  @media (min-width: 1024px) {
    display: flex;
    justify-content: center;
    flex-direction: row;
    position: static;
    height: unset;
  }

  &__item {
    &:last-of-type {
      .menu__link {
        background-color: $greenDark;
        padding: 12px 19px;
      }
    }

    @media (min-width: 1024px) {
      margin: 0 22px;

      &:first-of-type {
        margin-left: 0;
      }

      &:last-of-type {
        margin-right: 0;
      }
    }
  }

  &__link {
    text-decoration: none;
    color: $white;

    &:hover {
      color: $greenLight;
    }
  }
}

.home {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-image: url(../images/bg.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #eeedf3;
  height: 100vh;

  &__title {
    font-size: 4rem;
    font-weight: 900;
    color: $green;
    text-transform: uppercase;
    text-align: center;
    padding: 15rem 0 1rem 0;
    border-bottom: 1px solid $greyDark;
    max-width: 800px;
    @media (min-width: 768px) {
      font-size: 6rem;
    }
    & > span {
      color: $black;
    }
  }

  &__subtitle {
    width: calc(100% - 30px);
    font-size: 1.8rem;
    color: $greyDark;
    margin-top: 2rem;
    text-align: center;
  }

  & > .btn {
    width: calc(100% - 30px);
    height: 5.5rem;
    font-size: 1.8rem;
    font-weight: 900;
    margin-top: 5rem;
    @media (min-width: 500px) {
      width: 44.5rem;
    }
  }
}

.btn {
  padding: 5px 10px;
  border: none;
  background: transparent;
  cursor: pointer;
  color: $white;
  text-decoration: none;
  text-transform: uppercase;

  &__menu {
    position: absolute;
    font-size: 1.2rem;
    top: 2.3rem;
    right: 1rem;

    @media (min-width: 1024px) {
      display: none;
    }
  }
  [aria-expanded='false'] {
    display: block;
  }
  [aria-expanded='true'] {
    display: none;
  }

  &--green {
    background-color: $green;
    color: $white;
  }
}

.isActive {
  display: flex;
}
