@import './colors';
@import url('https://fonts.googleapis.com/css?family=Raleway:300,400,500,600,700,800&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

.wrapper {
  width: 120rem;
  margin: 0 auto;
  padding: 0 1.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
}

.header {
  display: flex;
  font-family: 'Raleway', sans-serif;
  color: $white;
  background: $green;
  text-transform: uppercase;
  height: 7rem;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  @media (min-width: 1024px) {
    height: 7rem;
  }

  &__logo {
    margin-right: 5px;
  }

  &__title {
    font-weight: 800;
    font-size: 2.6rem;
  }

  &__subtitle {
    font-weight: 300;
    font-size: 1.4rem;
  }
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  // margin: 20px 0 0 0;

  // @media (min-width: 1024px) {
  //   margin: 0;
  // }
}

.menu {
  display: none;
  justify-content: space-evenly;
  align-items: center;
  list-style: none;
  font-size: 1.3rem;
  font-weight: 600;
  text-transform: uppercase;
  flex-direction: column;

  height: calc(100% - 70px);
  position: fixed;
  top: 70px;
  left: 0;
  right: 0;
  background: #5bbc2e;

  @media (min-width: 1024px) {
    display: flex;
    justify-content: center;
    flex-direction: row;
    position: static;
    height: unset;
  }

  &__item {
    &:last-of-type {
      .menu__link {
        background-color: $greenDark;
        padding: 12px 19px;
      }
    }

    @media (min-width: 1024px) {
      margin: 0 22px;

      &:first-of-type {
        margin-left: 0;
      }

      &:last-of-type {
        margin-right: 0;
      }
    }
  }

  &__link {
    text-decoration: none;
    color: $white;

    &:hover {
      color: $greenLight;
    }
  }
}

.btn {
  padding: 5px 10px;
  border: none;
  background: transparent;
  cursor: pointer;
  color: $white;
  text-decoration: none;

  &__menu {
    position: absolute;
    font-size: 1.2rem;
    top: 2.3rem;
    right: 1rem;

    @media (min-width: 1024px) {
      display: none;
    }
  }
  [aria-expanded='false'] {
    display: block;
  }
  [aria-expanded='true'] {
    display: none;
  }
}

.isActive {
  display: flex;
}
